{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Vendas Aprovadas</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/aprovados.css' %}">
  <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
  <header class="navbar">
    <div class="container">
      <h1>Vendas Aprovadas</h1>
      <nav class="menu">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'vendas' %}">Todas as Vendas</a>
        <a href="{% url 'vendas_analise' %}">Em Análise</a>
        <a href="{% url 'vendas_canceladas' %}">Canceladas</a>
      </nav>
    </div>
  </header>

  <main class="dashboard">
    <section class="painel-vendas">
      <div class="resumo">
        <div class="card-resumo total">
          <h3>Total em Vendas</h3>
          <p><strong>R$ 300</strong></p>
        </div>
        <div class="card-resumo quantidade">
          <h3>Itens Vendidos</h3>
          <p><strong>2</strong></p>
        </div>
      </div>

      <h2>Lista de Vendas Aprovadas</h2>
      <ul class="lista-vendas">
        <li>
          <span>#001</span>
          <span>Camisa Polo</span>
          <span>R$ 100</span>
        </li>
        <li>
          <span>#002</span>
          <span>Tênis Branco</span>
          <span>R$ 200</span>
        </li>
      </ul>
    </section>
  </main>

  <p><strong>R$ {{ total }}</strong></p>
<p><strong>{{ quantidade }}</strong></p>

{% for venda in vendas %}
  <li>
    <span>#{{ venda.codigo }}</span>
    <span>{{ venda.nome }}</span>
    <span>R$ {{ venda.preco|floatformat:2 }}</span>
  </li>
{% endfor %}


  <footer class="footer">
    <p>&copy; 2025 Campos | Relatório de Vendas</p>
  </footer>
</body>
</html>
